<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <%# Information %>
  <% if (!inspection.date) { %>
    <p>Does not exist</p>
  <% } else { %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Information
        </div>
        <div class="card-body">
          <h5 class="card-title">(<%= inspection.site.number %> <%= inspection.site.acronym %>) <%= inspection.site.name %></h5>
          <p class="card-text">Date: <%= inspection.date %></p>
          <p class="card-text">User: <%= inspection.user %></p>
        </div>
      </div>
    </div>
  </div>

  <%# Checkpoints %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Checkpoints
        </div>

        <% if (inspection.checkpoints.length > 0) { %>
          <ul class="list-group list-group-flush">
          <% inspection.checkpoints.forEach(checkpoint => { 
            var textColour = "text-secondary";
            var textValue = "N/A"
            if(checkpoint.value === 1) {
              textColour = "text-success";
              textValue = checkpoint.textValues.good;
            } else if(checkpoint.value === 0) {
              textColour = "text-warning";
              textValue = checkpoint.textValues.attention;
            }
            %>
            <li class="list-group-item <%= textColour %>">
              <%= checkpoint.name %> - <%= textValue %> 
              <% if(checkpoint.note != "") { %>
                - <%= checkpoint.note %>
              <% } %>
              <% if(checkpoint.photo) { %>
                - <a href="/uploads/photos/<%= checkpoint.photo %>" target="_blank">Photo</a>
              <% } %>
            </li>
          <% }) %>
          </ul>
        <% } else { %>
          <p>No checkpoints</p>
        <% } %>

      </div>
    </div>
  </div>

  <% } %>
</div>
<% include ../partials/script %>
</body>
</html>
