<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>
    <div class="container bg-3">

      <div class="row align-items-center">
        <div class="col-10">
          <h1><i class="bi bi-clipboard2-check"></i>
            <%= page %>
          </h1>
        </div>
        <div class="col-2">
          <a class="btn btn-primary float-right" href="/inspections/add/"><i class="bi bi-plus-circle"></i> New
            Inspection</a>
        </div>
      </div>

      <%# Information %>
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-2">
                    Date
                  </div>
                  <div class="col-sm-2">
                    Site
                  </div>
                  <div class="col-sm-6">
                    Information
                  </div>
                  <div class="col-sm-2">
                    User
                  </div>
                </div>
              </div>
              <% if (inspections.length> 0) {%>
                <ul class="list-group list-group-flush">
                  <% inspections.forEach(inspection=> { %>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-2">
                          <a href="/inspections/<%= inspection.id %>">
                            <%= moment(inspection.dateTime).format('DD MMMM YYYY') %>
                          </a>
                        </div>
                        <div class="col-sm-2">
                          <%= inspection.siteNumber %>
                            <%= inspection.siteName %>
                        </div>
                        <div class="col-sm-6">
                          <%= inspection.information %>
                        </div>
                        <div class="col-sm-2">
                          <%= inspection.userName %>
                        </div>
                      </div>
                    </li>
                    <% }) %>
                </ul>
                <% } else { %>
                  <div class="card-body">
                    <p>No Inspections</p>
                  </div>
                  <% } %>
            </div>
          </div>
        </div>

    </div>
    <% include ../partials/script %>
</body>

</html>