<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">    

  <div class="row align-items-center">
    <div class="col-9">
      <h1><%= site.name %> Air Filters</h1>
    </div>
    <div class="col-3">
      <a class="btn btn-primary float-right" href="/sites/<%= site.id %>/airfilters/add"><i class="bi bi-plus-circle"></i> Add Air Filter</a>
    </div>
  </div>

  <%# Air Filter %>
  <div class="row">
    <div class="col-sm">
      <% if (airFilters && airFilters.length > 0) {%>
        <% for (let i=0; i < airFilters.length; i++) { %>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-6">
                <%= airFilters[i].type %>
              </div>
              <div class="col-6">
                <a class="btn btn-warning float-right" href="/sites/<%= site.id %>/airfilters/edit/<%= airFilters[i].id %>"><i class="bi bi-pencil"></i> Edit</a>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush" id="airFilterList">
            <li class="list-group-item">
                <p class="card-text"><strong>Type:</strong> <%= airFilters[i].type %></p>
                <p class="card-text"><strong>Size:</strong> <%= airFilters[i].size %></p>
                <p class="card-text"><strong>Quantity:</strong> <%= airFilters[i].quantity %></p>
                <p class="card-text"><strong>Information:</strong><div style="white-space: pre-wrap"><%= airFilters[i].information %></div></p>
            </li>
          </ul>
        </div>
        <% } %>
      <% } else { %>
        <span>
          No air filters
        </span>
      <% } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <a href="/sites/<%= site.id %>" class="btn btn-secondary float-right">Back to Site</a>
    </div>
  </div>

</div>
<% include ../partials/script %>
</body>
</html>
