<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">    

  <div class="row align-items-center">
    <div class="col-6">
      <h1><a href="/sites/<%= site.id %>"><%= site.name %></a> - Air Filters</h1>
    </div>
    <div class="col-6">
      <a class="btn btn-primary float-right" href="/sites/<%= site.id %>/airfilters/add">Add Air Filter</a>
    </div>
  </div>

  <%# Air Filter %>
  <div class="row">
    <div class="col-sm">
      <% if (airFilters && airFilters.length > 0) {%>
        <% for (let i=0; i < airFilters.length; i++) { %>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-6">
                <%= airFilters[i].type %> - Air Filter
              </div>
              <div class="col-6">
                <a class="btn btn-warning float-right" href="/sites/<%= site.id %>/airfilters/edit/<%= airFilters[i].id %>">Edit</a>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush" id="airFilterList">
            <li class="list-group-item">
                <p class="card-text">Type: <%= airFilters[i].type %></p>
                <p class="card-text">Size: <%= airFilters[i].size %></p>
                <p class="card-text">Quantity: <%= airFilters[i].quantity %></p>
                <p class="card-text">Information: <%= airFilters[i].information %></p>
            </li>
          </ul>
        </div>
        <% } %>
      <% } else { %>
        <span>
          No air filters
        </span>
      <% } %>
    </div>
  </div>

</div>
<% include ../partials/script %>
</body>
</html>
