<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <form class="site-edit-form" action="" method="post">

  <%# Contact %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              Contact
            </div>
            <div class="col-6">
              <button type="submit" name="send" value="delete" class="btn btn-danger float-right"><i class="bi bi-person-x"></i> Delete</button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Name</label>
              <input type="text" class="name form-control" name="name" id="name" value="<%= contact.name %>" required title="Contact Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="number">Number</label>
              <input type="text" class="number form-control" name="number" id="number" value="<%= contact.number %>" title="Contact Number">
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="text" class="email form-control" name="email" id="email" value="<%= contact.email %>" title="Contact Email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="information">Information</label>
              <textarea class="information form-control" name="information" id="information" title="Contact Info" rows="5"><%= contact.information %></textarea>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="form-row">
            <div class="col-sm">
              <button type="submit" name="send" value="update" class="btn btn-success float-left"><i class="bi bi-person-check"></i> Update</button>
              <a href="../" class="btn btn-secondary float-right">Cancel</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  
  </form>

</div>
<% include ../partials/script %>
</body>
</html>