<%# Contact %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Contact
        </div>

        <ul class="list-group list-group-flush" id="contactList">
          <% if (contacts && contacts.length > 0) { %>
            <% for (let i=0; i < contacts.length; i++) { %>
              <% var rand = Math.floor(Math.random()*10*(new Date().getTime())); %>
              <li class="list-group-item contactItem" data-contact-id="<%= contacts[i].id %>">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="contact-name-<%= rand %>">Name</label>
                    <input type="text" class="name form-control" name="contact_name[]" id="contact-name-<%= rand %>" value="<%= contacts[i].name %>" required title="Contact Name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="contact-number-<%= rand %>">Number</label>
                    <input type="text" class="number form-control" name="contact_number[]" id="contact-number-<%= rand %>" value="<%= contacts[i].number %>" title="Contact Number">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="contact-email-<%= rand %>">Email</label>
                    <input type="text" class="email form-control" name="contact_email[]" id="contact-email-<%= rand %>" value="<%= contacts[i].email %>" title="Contact Email">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="contact-info-<%= rand %>">Info</label>
                    <textarea class="information form-control" name="contact_info[]" id="contact-info-<%= rand %>" title="Contact Info" rows="5"><%= contacts[i].info %></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <button type="button" class="updateBtn btn btn-success float-left">Update</button>
                    <button type="button" class="deleteBtn btn btn-danger float-right">Delete</button>
                  </div>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>

        <div class="card-body">
          <button type="button" id="addContact" class="btn btn-primary float-left">New Contact</button>
        </div>

      </div>
    </div>
  </div>