<%# Contact %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Site Contact
        </div>

        <% var rand = Math.floor(Math.random()*10*(new Date().getTime())); %>
        <ul class="list-group list-group-flush" id="contactList">
          <li class="list-group-item">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contact-name-<%= rand %>">Name</label>
                <input type="text" class="form-control" name="contact_name[]" id="contact-name-<%= rand %>" required title="Contact Name">
              </div>
              <div class="form-group col-md-6">
                <label for="contact-number-<%= rand %>">Number</label>
                <input type="text" class="form-control" name="contact_number[]" id="contact-number-<%= rand %>" title="Contact Number">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="contact-info-<%= rand %>">Info</label>
                <input type="text" class="form-control" name="contact_info[]" id="contact-info-<%= rand %>" title="Contact Info">
              </div>
            </div>
            <div class="form-row">
              <span class="card-text javaLink delContact">
                <i class="bi bi-x-circle-fill"></i>
                Delete
              </span>
            </div>
          </li>
        </ul>

        <div class="card-body">
          <span class="card-text javaLink" id="addContact">
            <i class="bi bi-plus-circle-fill"></i>
            Add
          </span>
        </div>

      </div>
    </div>
  </div>