<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3"> 

  <div class="row align-items-center">
    <div class="col-9">
      <h1><i class="bi bi-building"></i> <%= page %></h1>
    </div>
    <div class="col-3">
      <a class="btn btn-primary float-right" href="/sites/add/"><i class="bi bi-plus-circle"></i> Add Site</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <% if (sites.length > 0) {%>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Site Name</th>
              <th scope="col">Address</th>
              <th scope="col">Location</th>
              <th scope="col">Standard Key</th>
            </tr>
          </thead>
          <tbody>
            <% sites.forEach(site=> { %>
              <tr>
                <td>
                  <a href="/sites/<%= site.id %>">(<%= site.number %> <%= site.acronym %>) <%= site.name %> </a>
                </td>
                <td>
                  <%= site.address %>
                </td>
                <td>
                  <%= site.latlong.y %>, <%= site.latlong.x %>
                </td>
                <td>
                  <%= site.standardKey ? 'Yes' : 'No' %>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
          <p>No Sites</p>
      <% } %>
    </div>
  </div>
  
</div>
<% include ../partials/script %>
</body>
</html>
