<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <form class="site-edit-form" action="" method="post">

  <%# Information %>
  <div class="row">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Information
        </div>

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="site-name">Name</label>
              <input type="text" class="form-control" name="site_name" id="site-name" value="<%= site.name %>" required title="Site name">
            </div>
            <div class="form-group col-md-3">
              <label for="site-type">Acronym</label>
              <input type="text" class="form-control" name="site_acronym" id="site-acronym" value="<%= site.acronym %>" required title="Site type">
            </div>
            <div class="form-group col-md-3">
              <label for="site-description">Number</label>
              <input type="text" class="form-control" name="site_number" id="site-number" value="<%= site.number %>" required title="Site description">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="site-address">Address</label>
              <input type="text" class="form-control" name="site_address" id="site-address" value="<%= site.address %>" title="Site address">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <%# Contact %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Contact
        </div>

        <ul class="list-group list-group-flush" id="contactList">
          <% if (site.contact && site.contact.length > 0) { %>
            <% for (let i=0; i < site.contact.length; i++) { %>
              <li class="list-group-item">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="contact-name-<%= rand %>">Name</label>
                    <input type="text" class="form-control" name="contact_name[]" id="contact-name-<%= rand %>" value="<%= site.contact[i].name %>" required title="Contact Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="contact-number-<%= rand %>">Number</label>
                    <input type="text" class="form-control" name="contact_number[]" id="contact-number-<%= rand %>" value="<%= site.contact[i].number %>" title="Contact Number">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="contact-info-<%= rand %>">Info</label>
                    <input type="text" class="form-control" name="contact_info[]" id="contact-info-<%= rand %>" value="<%= site.contact[i].info %>" title="Contact Info">
                  </div>
                </div>
                <div class="form-row">
                  <span class="card-text javaLink delContact">
                    <i class="bi bi-x-circle-fill"></i>
                    Delete
                  </span>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>

        <div class="card-body">
          <span class="card-text javaLink" id="addContact">
            <i class="bi bi-plus-circle-fill"></i>
            Add
          </span>
        </div>

      </div>
    </div>
  </div>

  <%# Access %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Access
        </div>

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Standard Key</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" id="access-key-crest-yes" name="access_key_crest" value="true" checked>
                  <label class="form-check-label" for="access-key-crest-yes">Yes</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" id="access-key-crest-no" name="access_key_crest" value="false">
                  <label class="form-check-label" for="access-key-crest-no">No</label>
              </div>
            </div>
            <div class="form-group col-md-10">
              <label for="access-key-note">Key Notes</label>
              <input type="text" class="form-control" name="access_key_note" id="access-key-note" value="<%= site.acronym %>" title="Key note">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="access-instructions">Instructions</label>
              <textarea class="form-control" name="access_instructions" id="access-instructions" value="" title="Access instructions" rows="5"></textarea>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <%# Air Filter %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Air Filter
        </div>

        <ul class="list-group list-group-flush" id="airFilterList">
          <% if (site.airfilter && site.airfilter.length > 0) {%>
            <% for (let i=0; i < site.airfilter.length; i++) { %>
              <li class="list-group-item">
                <div class="form-row">
                  <% var rand = Math.floor(Math.random()*10*(new Date().getTime())); %>
                  <div class="form-group col-md-12">
                    <label for="airfilter-type-<%= rand %>">Type</label>
                    <input type="text" class="form-control" name="airfilter_type[]" id="airfilter-type-<%= rand %>" value="<%= site.airfilter[i].type %>" required title="Air Filter type">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="airfilter-size-<%= rand %>">Size</label>
                    <input type="text" class="form-control" name="airfilter_size[]" id="airfilter-size-<%= rand %>" value="<%= site.airfilter[i].size %>" title="Air Filter size ex. 10x20x1">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="airfilter-amount-<%= rand %>">Amount</label>
                    <input type="text" class="form-control" name="airfilter_amount[]" id="airfilter-amount-<%= rand %>" value="<%= site.airfilter[i].amount %>" title="Air Filter amount">
                  </div>
                </div>
                <div class="form-row">
                  <span class="card-text javaLink delAirFilter">
                    <i class="bi bi-x-circle-fill"></i>
                    Delete
                  </span>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>

        <div class="card-body">
          <span class="card-text javaLink" id="addAirFilter">
            <i class="bi bi-plus-circle-fill"></i>
            Add
          </span>
        </div>

      </div>
    </div>
  </div>

  <%# Checkpoints %>
  <div class="row my-3">
    <div class="col-sm">
      <div class="card">

        <div class="card-header">
          Checkpoints
        </div>

        <% if (site.checkpoints.length > 0) {%>
          <ul class="list-group list-group-flush">
          <% site.checkpoints.forEach(checkpoint => { %>
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="site_checkpoints[]" value="<%= checkpoint._id %>" id="check-<%= checkpoint.name %>" <% if(checkpoint.added) { %>checked <% } %> >
                <label class="form-check-label" for="check-<%= checkpoint.name %>"><%= checkpoint.name %></label>
                <small class="form-text text-muted"><%= checkpoint.description %></small>
              </div>
            </li>
          <% }) %>
          </ul>
        <% } else { %>
          <div class="row"><p>No checkpoints to add.</p></div>
        <% } %>

      </div>
    </div>
  </div>

  <%# Submit/Cancel %>
  <div class="row my-3">
    <div class="col-sm">
      <button type="submit" class="btn btn-success float-left">Submit</button>
      <a href="/sites/site/<%= site.id %>" class="btn btn-danger float-right">Cancel</a> 
    </div>
  </div>

  </form>

</div>
<% include ../partials/script %>
</body>
</html>
