<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>
    <div class="container bg-3">

      <%# Information %>
        <div class="row my-3">
          <div class="col-sm">
            <div class="card">

              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-6">
                    <i class="bi bi-building"></i>
                    <%= site.name %>
                  </div>
                  <div class="col-6">
                    <a class="btn btn-warning float-right" href="/sites/edit/<%= site.id %>"><i class="bi bi-pencil-square"></i> Edit</a>
                  </div>
                </div>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="card-text"><b>Information</b></p>
                  <p class="card-text">Name: <%= site.name %>
                  </p>
                  <p class="card-text">Number: <%= site.number %>
                  </p>
                  <p class="card-text">Acronym: <%= site.acronym %>
                  </p>
                  <p class="card-text">Address: <%= site.address %>
                  </p>
                  <p class="card-text">Location (Lat, Long): <%= site.latlong.y %>, <%= site.latlong.x %>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="card-text"><b>Access</b></p>
                  <p class="card-text">Standard Key: <%= site.standardKey ? 'Yes' : 'No' %>
                  </p>
                  <p class="card-text">Key Information: <%= site.keyInstructions %>
                  </p>
                  <p class="card-text">Access Instructions: <%= site.accessInstructions %>
                  </p>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <%# Tasks %>
        <% /* %>
          <div class="row my-3">
            <div class="col-sm">
              <div class="card">
                <div class="card-header">
                  Tasks
                </div>
                <% if (site.tasks && site.tasks.length> 0) { %>
                  <table class="table table-hover table-sm mb-0">
                    <thead>
                      <th scrope="col">Date</th>
                      <th scrope="col">Task</th>
                      <th scrope="col">Complete</th>
                      <th scrope="col">Submitted</th>
                    </thead>
                    <tbody>
                      <% site.tasks.forEach(task=> { %>
                        <tr>
                          <td>
                            <%= task.taskInfo.date.toDateString() %>
                          </td>
                          <td>
                            <%= task.taskInfo.text %>
                          </td>
                          <td>
                            <%= task.complete %>
                          </td>
                          <td>
                            <%= task.taskInfo.user %>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <div class="card-body">No tasks</div>
                    <% } %>
              </div>
            </div>
          </div>
          <% */ %>

          <%# Inspections %>
            <div class="row my-3">
              <div class="col-sm">
                <div class="card">
                  <div class="card-header">
                    Inspections
                  </div>
                  <% if (inspections && inspections.length> 0) { %>
                    <table class="table table-striped">
                      <thead>
                        <th scrope="col">Date</th>
                        <th scrope="col">Information</th>
                        <th scrope="col">User</th>
                      </thead>
                      <tbody>
                        <% inspections.forEach(inspection=> { %>
                          <tr scope="row">
                            <td>
                              <a href="/inspections/<%= inspection.id %>">
                                <%= moment(inspection.dateTime).format('DD MMMM YYYY') %>
                              </a>
                            </td>
                            <td>
                              <%= inspection.information %>
                            </td>
                            <td>
                              <%= inspection.userName %>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                    <% } else { %>
                      <div class="card-body">No inspections</div>
                      <% } %>
                </div>
              </div>
            </div>

            <%# Contact %>
              <div class="row my-3">
                <div class="col-sm">
                  <div class="card">

                    <div class="card-header">
                      <div class="row align-items-center">
                        <div class="col-6">
                          <i class="bi bi-person"></i> Contacts (<%= contacts.length %>)
                        </div>
                        <div class="col-6">
                          <a class="btn btn-warning float-right" href="/sites/<%= site.id %>/contacts"><i class="bi bi-pencil-square"></i> Edit</a>
                        </div>
                      </div>
                    </div>

                    <% if (contacts.length> 0) {%>
                      <ul class="list-group list-group-flush" id="contactList">
                        <% for (let i=0; i < contacts.length; i++) { %>
                          <li class="list-group-item">
                            <p class="card-text">Name: <%= contacts[i].name %>
                            </p>
                            <p class="card-text">Number: <%= contacts[i].number %>
                            </p>
                            <p class="card-text">Email: <%= contacts[i].email %>
                            </p>
                            <p class="card-text">Info: <%= contacts[i].info %>
                            </p>
                          </li>
                          <% } %>
                      </ul>
                      <% } else { %>
                        <div class="card-body">
                          No contact information
                        </div>
                        <% } %>

                  </div>
                </div>
              </div>

              <%# Air Filter %>
                <div class="row my-3">
                  <div class="col-sm">
                    <div class="card">

                      <div class="card-header">
                        <div class="row align-items-center">
                          <div class="col-6">
                            Air Filters (<%= airFilters.length %>)
                          </div>
                          <div class="col-6">
                            <a class="btn btn-warning float-right" href="/sites/<%= site.id %>/airfilters"><i class="bi bi-pencil-square"></i> Edit</a>
                          </div>
                        </div>
                      </div>

                      <% if (airFilters && airFilters.length> 0) {%>
                        <ul class="list-group list-group-flush" id="airFilterList">
                          <% for (let i=0; i < airFilters.length; i++) { %>
                            <li class="list-group-item">
                              <p class="card-text">Type: <%= airFilters[i].type %>
                              </p>
                              <p class="card-text">Size: <%= airFilters[i].size %>
                              </p>
                              <p class="card-text">Quantity: <%= airFilters[i].quantity %>
                              </p>
                              <p class="card-text">Information: <%= airFilters[i].information %>
                              </p>
                            </li>
                            <% } %>
                        </ul>
                        <% } else { %>
                          <div class="card-body">
                            No air filter
                          </div>
                          <% } %>

                    </div>
                  </div>
                </div>

    </div>
    <% include ../partials/script %>
</body>

</html>