<div><b>License:</b> <%= license.number %></div>
<div><b>Status:</b> <%= license.status + `</div> 
<div><b>Date:</b> <%= startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate() + `</div>
<div><b>Station:</b> <%= license.station[i].name + `</div>
<div><b>Type:</b> <%= license.station[i].type + `</div>