<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container bg-3">    

  <div class="row">
    <div class="col-sm">
      <h1><%= page %></h1>
    </div>
  </div>

  <% if (agency) { %>

  <form class="agency-add-form" action="" method="post">

  <%# Information %>
  <div class="row">
    <div class="col-sm">
      <div class="card">

        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="agency-name">Name</label>
              <input type="text" class="form-control" name="agency_name" id="agency-name" value="<%= agency.name %>" required title="Agency name">
            </div>
            <div class="form-group col-md-2">
              <label for="agency-acronym">Acronym</label>
              <input type="text" class="form-control" name="agency_acronym" id="agency-acronym" value="<%= agency.acronym %>" required title="Agency Acronym">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="agency-description">Description</label>
              <input type="text" class="form-control" name="agency_description" id="agency-description" value="<%= agency.description %>" required title="Agency description">
            </div>
          </div>

        </div>
      
      </div>
    </div>
  </div>

  <%# Add/Cancel %>
  <div class="row my-3">
    <div class="col-sm">
      <button type="submit" class="btn btn-success float-left">Edit</button>
      <a href="/agency/agency/<%= agency.id %>" class="btn btn-danger float-right">Cancel</a>    
    </div>
  </div>

  </form>

  <% } else { %>
    <div class="row">
      <p>Does not exist</p>
    </div>
  <% } %>

</div>
<% include ../partials/script %>
</body>
</html>
